Source: sysrestic
Section: utils
Priority: optional
Maintainer: Jonathan <jzacsh@gmail.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://github.com/jzacsh/sysrestic

Package: sysrestic
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: encodes restic defaults for root backups
 Provides systemd control & exclude aggregator for root backups of restic.
 Designed for end-users (read PCs). Requires manually installing restic.
